<%= content_tag :div, :class => "gallery-editor" do %>
  <div class="tabs">
    <ul>
      <li><a href="#edit-image">Edit Image</a></li>
      <li><a href="#edit-thumb">Edit Thumb</a></li>
      <li><a href="#edit-feature">Edit Feature</a></li>
    </ul>
    <div id="edit-image">
      <%= content_tag :div, :class => "full-preview" do %>
        <%= content_tag :div, :class => "img" do %>
          <%# image_tag @image.file.url, :width => @image.image_width, :height => @image.image_height %>
        <% end %>
      <% end %>
      <%= form_for @image, :as => :image, :url => admin_asset_path(@image, :format => :js), :remote => true do |form| %>
        <div class="properties">
          <h3 class="image-name">Name/description</h3>
          <div class="image-name">
            <p><label for="asset_basename">Filename</label> <%= form.text_field :basename %></p>
            <p><label for="asset_title">Title</label> <%= form.text_field :title %></p>
            <p><label for="asset_description">Description</label> <%= form.text_area :description, :rows => 3 %></p>
          </div>
          <h3 class="image-current-size">Current Size</h3>
          <div class="image-current-size">
            <p class="dimensions"><%= form.text_field :image_width, :disabled => true %> &times; <%= form.text_field :image_height, :disabled => true %> pixels</p>
          </div>
          <h3 class="image-selection">Selection</h3>
          <%= hidden_field_tag "asset[crop][selection_x]" %>
          <%= hidden_field_tag "asset[crop][selection_y]" %>
          <div class="image-selection">
            <p class="dimensions"><%= text_field_tag "asset[crop][selection_width]" %> &times; <%= text_field_tag "asset[crop][selection_height]" %> pixels</p>
          </div>
          <h3 class="image-crop"><%= check_box_tag "asset[crop][resize]" %> Resize&hellip;</h3>
          <div class="image-crop" style="display: none">
            <p class="dimensions"><%= text_field_tag "asset[crop][target_width]", @image.image_width %> &times; <%= text_field_tag "asset[crop][target_height]", @image.image_height %> pixels</p>
            <ul class="radio">
              <li><%= radio_button_tag "asset[crop][mode]", "crop", true %> Force aspect ratio</li>
              <li><%= radio_button_tag "asset[crop][mode]", "resize_to_fit" %> Resize to fit</li>
              <li><%= radio_button_tag "asset[crop][mode]", "resize_to_fill" %> Resize and crop to fit</li>
            </ul>
          </div>
          <h3 class="image-dimensions">Final dimensions</h3>
          <div class="image-dimensions">
            <p class="dimensions"><%= text_field_tag "asset[crop][final_width]", @image.image_width, :disabled => true %> &times; <%= text_field_tag "asset[crop][final_height]", @image.image_height, :disabled => true %> pixels</p>
            <p><a href="#" class="large preview button">Preview</a></p>
          </div>
        </div>
      <% end %>
    </div>
    <div id="edit-thumb">
      <div class="full-image">
        <%= image_tag @image.file.url, :id => :thumb, :width => 512, :height => 440 %>
      </div>
      <div class="thumb-current">
        <h3>Current Thumb</h3>
        <%= image_tag @image.file.url(:thumbnail), :id => :current %>
      </div>
      <div class="thumb-preview">
        <h3>Preview (New Thumb)</h3>
        <div class="preview" style="<%= "width: #{Breeze::Gallery::GalleryUploader::THUMB_SIZE.width}px; height: #{Breeze::Gallery::GalleryUploader::THUMB_SIZE.height}px" %>">
          <%= image_tag @image.file.url, :id => :preview %>
        </div>
      </div>
      <div class="action">
        <p>
          <a href="#" class="large button">Change</a>
        </p>
      </div>
    </div>
    <div id="edit-feature">
      <div class="full-image">
       <%= image_tag @image.file.url, :id => :feature, :width => 512, :height => 440 %>
      </div>
      <div class="feature-current">
        <h3>Current Feature</h3>
        <%= image_tag @image.file.url(:preview), :id => :current %>
      </div>
      <div class="feature-preview">
        <h3>Preview (New Feature)</h3>
        <div class="preview" style="<%= "width: #{Breeze::Gallery::GalleryUploader::PREVIEW_SIZE.width}px; height: #{Breeze::Gallery::GalleryUploader::PREVIEW_SIZE.height}px" %>">
          <%= image_tag @image.file.url, :id => :preview %>
        </div>
      </div>
      <div class="action">
        <p>
          <a href="#" class="large button">Change</a>
        </p>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">

  function showPreview(coords, width, height, selector) {
    if (parseInt(coords.w) > 0) {
      var rx = width / coords.w;
      var ry = height / coords.h;

      $(selector).css({
        width: Math.round(rx * 512) + 'px',
        height: Math.round(ry * 440) + 'px',
			  marginLeft: '-' + Math.round(rx * coords.x) + 'px',
			  marginTop: '-' + Math.round(ry * coords.y) + 'px'
      });
    }
  }

  function updateThumb(coords) {
    showPreview(coords, 
        <%= Breeze::Gallery::GalleryUploader::THUMB_SIZE.width %>, 
        <%= Breeze::Gallery::GalleryUploader::THUMB_SIZE.height %>, 
        '.thumb-preview #preview');
  }

  function updateFeature(coords) {
    showPreview(coords, 
        <%= Breeze::Gallery::GalleryUploader::PREVIEW_SIZE.width %>, 
        <%= Breeze::Gallery::GalleryUploader::PREVIEW_SIZE.height %>, 
        '');
  }

  function open() {
    $tabs = $('.gallery-editor .tabs').tabs({
      select: function(event, ui) {
      if (ui.index == 1) {
        $('#edit-thumb .full-image #thumb').Jcrop({
          onChange: updateThumb,
          onSelect: updateThumb,
          aspectRatio: <%= Breeze::Gallery::GalleryUploader::THUMB_SIZE.aspect_ratio %>
        });
        } else if (ui.index == 2) {
          $('#edit-feature .full-image #feature').Jcrop({
            onChange: updateFeature,
            onSelect: updateFeature,
            aspectRatio: <%= Breeze::Gallery::GalleryUploader::PREVIEW_SIZE.aspect_ratio %>
          });
          }
        }
        });

    $('#edit-thumb .action a.button').click(function(e) {
      alert('thumb');
    });

    $('#edit-feature .action a.button').click(function(e) {
      $.post('/admin/galleries/galleries/' + '/images/' + '/crop', function(data) {
        $('.result').html(data);
      });
    });
  }
</script>
