<%= render "/breeze/admin/shared/error_messages", :target => @gallery, :object_name => :gallery %>
<%= form.fieldset do %>
  <%= form.text_field :title %>
  <%= form.text_field :description %>
<% end %>

<% unless @gallery.new_record? %>
  <div id="assets">
    <h3>Images</h3>
    <%= content_tag :div, :class => "assets image-assets" do %>
      <%= render :partial => "breeze/gallery/images/image", :collection => @gallery.images.ordered %>
    <% end %>
  </div>
    
<script type="text/javascript" charset="utf-8">
  $(function() {
      uploadify();

      $('.assets').sortable({
        update: function(e, ui) {
          var id = ui.item.first().attr('data-id');
          var position = ui.item.index();
           $.ajax({
             url: '/admin/galleries/galleries/<%= @gallery.id %>/images/' + id + '/position',
             data: '_method=put&position=' + position,
             type: 'post'
           });
        }
        });
  });
</script>
<% end %>
