<%= breeze_form_for @gallery, :as => :gallery, :url => admin_gallery_galleries_path(:format => :js), :remote => true do |form| %>
  <%= scrollable_layout do %>
    <h1>New gallery</h1>
    <%= render :partial => "form", :object => form %>
  <% end %>
  
  <%= content_tag :div, :class => "fake-right-sidebar" do %>
    <%= submit_tag "Save", :class => "large green save button" %>
  <% end %>
<% end %>
